/* CSS declarations go here */
.list__ticket{
  position: relative;
}

.ticket__nav{
  position: absolute;
  right: 0;
  top: 0;
}
.ticket--ng{
  background: #FFCCCC;
}
.ticket--done{
  background: #CCCCCC;
}
.list{
  margin: 10px;
  padding: 10px;
}

.paper {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}